<form action="/update-profile" method="post">

    <textarea name="bio"></textarea>

    <input name="githubUsername" />

    <select name="primarySkill">
        <option value="">Select your specialty...</option>
        <option value="frontend">Frontend</option>
        <option value="backend">Backend</option>
        <option value="fullstack">Full Stack</option>
        <option value="mobile">Mobile</option>
        <option value="uiux">UI/UX Designer</option>
        <option value="devops">DevOps</option>
        <option value="datascience">DataScience</option>
        <option value="mobiledev">Mobile Developer</option>
        <option value="gamedev">Game Developer</option>
        <option value="aiml">AIML</option>
        <option value="cloud">Cloud</option>
        <option value="security">Security</option>
    </select>

    <button>Save</button>

</form>

<!-- <form action="/update-profile" method="post">

<textarea name="bio"></textarea>

<input name="githubUsername"/>

<select name="primarySkill">
    <option value="">Select your specialty...</option>
    <option value="frontend">Frontend</option>
    <option value="backend">Backend</option>
    <option value="fullstack">Full Stack</option>
    <option value="mobile">Mobile</option>
    <option value="uiux">UI/UX Designer</option>
    <option value="devops">DevOps</option>
    <option value="datascience">DataScience</option>
    <option value="mobiledev">Mobile Developer</option>
    <option value="gamedev">Game Developer</option>
    <option value="aiml">AIML</option>
    <option value="cloud">Cloud</option>
    <option value="security">Security</option>
</select>

<button>Save</button>

</form> -->